<h1>Tela de cadastro de produtos</h1>
<form [formGroup]="cadastroForm" (click)="onSubmit()">
  <div class="input-group mb-3">
    <input formControlName="title" ngDefaultControl type="text"  placeholder="Titulo do jogo">
  </div>
  <div class="input-group mb-3">
    <input formControlName="value" ngDefaultControl type="number" placeholder="Valor">
  </div>
  <div class="input-group mb-3">
    <input formControlName="price" ngDefaultControl type="number"  placeholder="Preço">
  </div>
  <div class="input-group mb-3">
    <input formControlName="description" ngDefaultControl type="text"  placeholder="Descrição">
  </div>
  <div class="input-group mb-3">
    <input formControlName="quantity" ngDefaultControl type="number"  placeholder="Quantnameade">
  </div>
</form>
  <button type="button" class="btn btn-primary">Cadastrar</button>

