
<h1>Produtos</h1>
<table class="table" [(ngModel)]="produtos">
  <thead>
  <tr>
    <th scope="col">Título</th>
    <th scope="col">Preço de custo</th>
    <th scope="col">Preço de venda</th>
    <th scope="col">Descrição</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody *ngFor="let items of produtos">
    <div *ngIf="!produtos">Nada a mostrar</div>

    <tr>
      <td>{{items.title}}</td>
      <td>{{items.costPrice}}</td>
      <td>{{items.sellPrice}}</td>
      <td>{{items.description}}</td>
      <td><button type="button" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></button></td>
    </tr>
  </tbody>
</table>

